#left-side-drawer-nav {
	position: absolute;
	bottom: 0;
	padding-left: 0;
	padding-right: 0;
	height: 100%;
}

#left-side-drawer-nav-top {
}

#left-side-drawer-nav-bottom {
	position: absolute;
	bottom: 0;
}
