
@import '../../../styles/variables';

.hyperlink {
	color: $blue !important;
	font-size: 0.875rem !important;
	font-weight: 600 !important;
	line-height: 1.43 !important;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}